nav {
  .navbar-container {
    .navbar,
    .navbar-2 {
      .link-of-options-div-of-navbar {
        position: relative;
        &::after {
          transition: all 250ms ease-in-out;
          position: absolute;
          content: "";
          height: 2px;
          width: 0%;
          border-radius: 25px;
          background: #fb8500;
          bottom: 0px;
          right: 0;
          left: auto;
        }
        &:hover {
          &::after {
            width: 100%;
            right: 0;
            left: 0;
          }
        }
        &.active::after {
          background: #219ebc;
          width: 100%;
          right: 0;
          left: 0;
        }
      }
      .call-us-div-of-navbar {
        .text-and-number-div-of-call-us-div {
          #tel-9918671867 {
            position: relative;
            &::after {
              transition: all 250ms ease-in-out;
              position: absolute;
              content: "";
              height: 2px;
              width: 0%;
              border-radius: 25px;
              background: #fb8500;
              bottom: -2px;
              right: 0;
              left: auto;
            }
            &:hover {
              &::after {
                width: 100%;
                right: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
