main {
    .why-choose-1-container {
      .why-choose-1 {
        .top-div-of-why-choose-1 {
          .h2-div-for-why-choose-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-left: 2px solid #219ebc;
            padding-left: 7px;
            height: 16px;
            margin-left: 50px;
            .span-for-h2-div-for-why-choose-1 {
              position: absolute;
              min-height: 2px;
              min-width: 50px;
              background-color: #219ebc;
              left: -50px;
              
            }
          }
        }
      }
    }
  }
  